{% extends "base.html" %}
{% block title %}
<title>{{ category }} Blogs</title>          
{% endblock title %}
{% block content %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
          <div class="container">
              <div class="text-center my-2">
                  <h1 class="fw-bolder">Category : {{ category }}</h1>
              </div>
          </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    {% if posts %}
                      
                    {% for post in posts %}
                    <div class="card mb-4">
                      <div class="card-body">
                          <div class="small text-muted">{{ post.posted_on }}</div>
                          <h2 class="card-title">{{post.title}}</h2>
                          <p class="card-text">{{ post.body | truncatewords:100 | safe }}</p>
                          <a class="btn btn-primary" href="{% url 'blog_detail' post.pk %}">Read more →</a>
                      </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h2>No Blogs Found !</h2>
                    {% endif %}
                    <!-- Nested row for non-featured blog posts-->
                    <!-- <div class="row">
                        <div class="col-lg-6">
                            //Blog post
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2021</div>
                                    <h2 class="card-title h4">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
{% endblock content %}