{% extends "base.html" %}
{% block title %}
<title>Create Blog</title>          
{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
<div class="container m-5">
    <h1>Create & Post a blog</h1>
    
        <div class="form-group">
            <form method="post" enctype = multipart/form-data>
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-success mr-2" >Post</button>
                <a class="btn btn-secondary" href="{% url 'blogs' %}">Back</a>
            </form>
        </div>
</div>
<script>
    var current_user = '{{ user.id }}';
    document.getElementById('author').value = current_user;
</script>
{% else %}  
<div class="container text-center m-5">
    <h3>Please login to post a blog !</h3>
    <a href="{% url 'login' %}" class="btn btn-warning mt-3">Log in</a>
</div>
{% endif %}

{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}